/* body */
body{
    background-color: #F5F5F5;
}

 /* HEADER */
 header{
    height: 150px;
    background-color: white;
 }

 header .container{
   height: 100%;
 }

 header .upper-header{
   background-color: lightcoral;
   height: 50px;
 }

 header .main-header{
    background-color: lightblue;
    height: 100px;
 }

 header .logo-container{
   width:200px;
 }

 header .links-container li{
   width: 100px;
   border: 1px solid black;
   text-align: center;
 }


 /* JUMBOTRON */
 .jumbotron{
    height:70vh;
    width: 100%;
    background-image:url(../img/home1_slide_three_bg_2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
 }

 .jumbotron .icons{
    position: absolute;
    top: -10px;
    right: 0;
    margin-right: 20px;
 }

 .jumbotron .icon-box{
    width: 50px;
    height: 50px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #888888;
 }



 /* FEATURED PRODUCTS */
 .feat-products{
    background-color: white;
    padding-bottom: 10rem;
 }

 .feat-products .description .type,.full-price{
    font-size: .7rem;
    margin-right: 5px;
 }

  .feat-products .description .price {
      color: #7190db
  }


 /* SEASON COLLECTION */
 .season-collection .collection-card{
    width: calc(100% / 3);
    position: relative;
 }

 .collection-card .description{
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    margin-bottom: 5rem;
 }


 /* BEST SELLER */

.best-seller .img-container{
    width: calc(100% / 5);
    margin-bottom: 10rem;
}

.best-seller .container :first-child, :last-child{
    position: relative;
}

.best-seller .container .prev-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transform: translateX(-50%);
    background-color: lightgray;
    width: 30px;
    height: 60px;
    color: white;
    cursor: pointer;
}

.best-seller .container .next-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    transform: translateX(-50%);
    background-color: lightgray;
    width: 30px;
    height: 60px;
    color: white;
    cursor: pointer;
}


/* PROMO */

.promo{
    background-image: url(../img/bkgd_confetti-compressor.jpg);
    background-size: contain;
    background-position: center;
    padding: 7rem 0rem;
}

.promo .discount{
    height: 400px;
    width: calc(100% / 2);
    background-image: url(../img/promo_box_1_bg.jpg);
    background-size: auto;
    margin-right: 20px;
}

.promo .free-shipping{
    height: 400px;
    width: calc(100% / 2);
    background-image: url(../img/promo_box_2_bg.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 20px;
}


/* NEW ARRIVALS */

.new-arrivals{
   margin-bottom: 7rem;
}


/* CIT */

 .cit {
     height:60vh;
     width: 100%;
     background-image: url(../img/testimonials_home_1_bg.jpg);
     background-position: center;
     background-size: cover;
 }

 .cit .details{
    width: 50%;
    margin: auto;
 }


 /* BLOG */

 .blog img{
    width: 100%;
 }

 .blog .date{
    font-size: .8rem;
 }

 .blog .line{
    height: 2px;
    background-color: lightgrey;
    width: 95%;
    margin: 5rem auto;
 }


 /* SUMMARY */

 .summary{
    height: 40vh;
 }

 .summary .box{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
 }

  .summary .box img{
    width: 60px;
  }


  /* BRANDS */
  .brands{
    height: 40vh;
  }


  /* SUBSCRIBE */
  .subscribe{
    height: 30vh;
    background-color: gray;
  }

  .subscribe .container, .row{
   height: 100%;
  }

  .subscribe .mail-box{
   width: 60px;
   height: 60px;
   border-radius: 50%;
   background-color: black;
   margin-right: 40px;
  }

  .subscribe .col-6 p{
   line-height: 60px;
   font-size: 1.5rem;
   font-weight: bold;
  }

  .subscribe input{
   width: 90%;
   height: 40px;
   border-radius: 30px;
   padding: 15px;
  }

  /* FOOTER */
  footer .col-3{
   height: 500px;
   background-color: lightblue;
   border: 1px solid black;
  }

  footer .footer-top-rated img{
   width: 70px;
  }

  footer .copyright{
   height: 100px;
  }
