 /* reset */
 img,
 svg,
 picture,
 video {
     max-width: 100%;
 }

 /* BTN CLASS */
 .button {
     padding: 10px 25px;
     border: 1px solid white;
     border-radius: 30px;
     cursor: pointer;
     font-size: .8rem;
     font-weight: bold;
     background-color: rgba(255, 255, 255, 0.2);
 }

 .button-rectangle{
    padding: 10px 40px;
    border: 1px solid lightgray;
    background-color: hsl(0deg 0% 96%);;
    display: inline-block;
    font-weight: bold;
 }

 .button-blue{
    height: 40px;
    padding: 7px 50px;
    background-color: hsl(215deg 61% 54%);
    border-radius: 20px;
    margin-left: 30px;
 }


 /* TITLE SECTION */

 .title{
    padding-top: 6rem;
 }

 .title span{
   display: inline-block;
   height: 1px;
   width: 38%;
   background-color: lightgray;
 }

 /* LIST */

 ul{
    list-style: none;
 }