<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- link font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;900&family=Roboto:wght@300;900&display=swap"
        rel="stylesheet">

    <!-- link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- link fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- link css -->
    <link rel="stylesheet" href="./css/utility.css">
    <link rel="stylesheet" href="./css/style.css">

    <!-- link Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- link script -->
    <script type="text/javascript" src="./js/main.js" defer></script>
</head>

<body>
    <div id="app">
        <!-- HEADER -->
        <header>
            <div class="container p-0">

                <!-- upper header -->
                <div class="upper-header d-flex justify-content-between align-items-center">
                    <div class="icons text-muted">
                        <i class="fa-brands fa-facebook me-4"></i>
                        <i class="fa-brands fa-twitter me-4"></i>
                        <i class="fa-brands fa-instagram me-4"></i>
                        <i class="fa-brands fa-youtube me-4"></i>
                    </div>
                    <div class="account d-flex align-items-center">
                        <div class="shopping-cart me-3 text-muted">Shopping-cart</div>
                        <div class="my-account px-3 text-muted">My-Account<i class="fa-solid fa-chevron-down ms-2"></i></div>
                        <div class="cart px-5"><i class="fa-solid fa-cart-shopping me-2"></i>CART<i class="fa-solid fa-chevron-down ms-2"></i></div>
                    </div>
                </div>

                <div class="line"></div>

                <!-- main header -->
                <div class="main-header d-flex justify-content-between align-items-center">
                    <div class="logo-container">
                        <img :src="header.logoImg" alt="">
                    </div>
                    <div class="links-container d-flex">
                        <ul class="d-flex">
                            <li v-for="link in header.links"
                                class="text-muted">
                                {{link}}<i class="fa-solid fa-chevron-down ms-1"></i>
                            </li>
                        </ul>
                        <span class="button-blue mt-4">{{header.buttonText}}</span>
                        <span><i class="fa-solid fa-magnifying-glass pt-4 ms-3 fs-4"></i></span>
                    </div>
                </div>
            </div>
        </header>

        <!-- JUMBOTRON -->
        <div class="jumbotron d-flex justify-content-center align-items-center">
            <div class="details text-white">
                <h2 class="display-1 fw-bolder">Brand New Arrivals</h2>
                <p class="text-center fs-3">NEW COLLECTION FROM NEW YORK</p>
                <div class="d-flex justify-content-center">
                    <span class="button me-2">VIEW ALL</span>
                    <span class="button">LOOKBOOK</span>
                </div>
            </div>
            <div class="icons">
                <div class="icon-box text-center ">
                    <i class="fa-solid fa-folder-closed fs-4 mt-2"></i>
                    <p class="text-muted m-0">Demos</p>
                </div>
                <div class="icon-box p-1">
                    <p  class="text-success m-0 px-3"> <span>$</span><span class="fs-3">39</span></p>
                    <p class="text-muted m-0 ps-2">On sale</p>
                </div>
            </div>
        </div>

        <!-- FEATURED PRODUCTS -->
        <section class="feat-products">
            <div class="container">
                <!-- title -->
                <div class="title text-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <span></span><h3>Featured Products</h3><span></span>
                    </div>                  
                    <p class="text-muted">Must have products from our top sellers</p>
                </div>
            </div>

            <!-- buttons -->
            <div class="selected text-center my-5">
                <span class="button-rectangle">Men</span>
                <span class="button-rectangle">Women</span>
                <span class="button-rectangle">Accesories</span>
            </div>

            <!-- images -->
            <div class="container">
                <div class="row">

                    <div class="col-3">
                        <div class="img-container">
                            <img src="./img/black_elegant_leather_jacket-400x520.jpg" alt="">
                            <span class="d-flex justify-content-center align-items-center">
                                <i class="fa-regular fa-square-check"></i>
                            </span>
                        </div>
                        <div class="description">
                            <p class="fw-bold mt-2 mb-0">Black Leather Jacket</p>
                            <p class="type">Men, Jacket, Jeans</p>
                            <p class="price"><span class="full-price text-decoration-line-through">235</span>$200</p>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="img-container">
                            <img src="./img/black_leather_suit-400x520.jpg" alt="">
                            <span class="d-flex justify-content-center align-items-center">
                                <i class="fa-regular fa-square-check"></i>
                            </span>
                        </div>
                        <div class="description">
                            <p class="fw-bold mt-2 mb-0">Black Leather Suit</p>
                            <p class="type">Men, Jacket, Jeans</p>
                            <p class="price">$176</p>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="img-container">
                            <img src="./img/blue_jacket_and_white_stripe_tee-400x520.jpg" alt="">
                            <span class="d-flex justify-content-center align-items-center">
                                <i class="fa-regular fa-square-check"></i>
                            </span>
                        </div>
                        <div class="description">
                            <p class="fw-bold mt-2 mb-0">Blue Jacket & Stripe Tee</p>
                            <p class="type">Men, Jacket, Jeans</p>
                            <p class="price">$580</p>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="img-container">
                            <img src="./img/modern_black_leather_suit-400x520.jpg" alt="">
                            <span class="d-flex justify-content-center align-items-center">
                                <i class="fa-regular fa-square-check"></i>
                            </span>
                        </div>
                        <div class="description">
                            <p class="fw-bold mt-2 mb-0">ModernBlack Leather Suit</p>
                            <p class="type">Men, Jacket, Jeans</p>
                            <p class="price">$96</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SEASON COLLECTION -->
        <section class="season-collection d-flex">
                <!-- winter -->
                <div class="collection-card">
                    <img src="./img/winter_collection_bg.jpg" alt="">
                    <div class="description text-white text-center">
                        <p class="h3">Winter Collection</p>
                        <p class="fw-light my-4">STYLISH AND WARM</p>
                        <span class="button">VIEW MORE</span>
                    </div>
                </div>

                <!-- spring -->              
                <div class="collection-card">
                    <img src="./img/spring_collection_bg.jpg" alt="">
                    <div class="description text-white text-center">
                        <p class="h3">Spring Collection</p>
                        <p class="fw-light my-4">BRIGHT AND COLORFUL</p>
                        <span class="button">VIEW MORE</span>
                    </div>
                </div>

                <!-- autumn -->
                <div class="collection-card">
                    <img src="./img/autumn_collection_bg.jpg" alt="">
                    <div class="description text-white text-center">
                        <p class="h3">Autumn Collection</p>
                        <p class="fw-light my-4">RICH AND COMFORTABLE</p>
                        <span class="button">VIEW MORE</span>
                    </div>
                </div>
        </section>

        <!-- BEST SELLER -->
        <section  class="best-seller bg-white">

            <!-- title -->
            <div class="container">
                <div class="title text-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <span></span><h3>Best Seller</h3><span></span>
                    </div>
                    <p class="text-muted">Must have products from our top sellers</p>
                </div>
            </div>

            <!-- images -->
            <div class="container d-flex">

                <div class="img-container">
                    <img src="./img/spring_printed_dress-400x520.jpg" alt="">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-square-check"></i>
                    </span>
                    <div class="prev-img d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-chevron-left d-block"></i>
                    </div>
                </div>

                <div class="img-container">
                    <img src="./img/modern_love_tee-400x520.jpg" alt="">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-square-check"></i>
                    </span>
                </div>

                <div class="img-container">
                    <img src="./img/black_leather_jacket-400x520.jpg" alt="">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-square-check"></i>
                    </span>
                </div>

                <div class="img-container">
                    <img src="./img/black_elegant_leather_jacket-400x520.jpg" alt="">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-square-check"></i>
                    </span>
                </div>

                <div class="img-container">
                    <img src="./img/hipster_black_top-400x520.jpg" alt="">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-square-check"></i>
                    </span>
                    <div class="next-img d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-chevron-right d-block"></i>
                    </div>
                </div>
            </div>
        </section>

        <!-- PROMO -->
        <section class="promo d-flex align-items-center">
            <div class="container d-flex justify-content-center">

                    <!-- left col -->
                    <div class="col-6 discount d-flex align-items-center">
                        <div class="info-promo text-white ms-5">
                            <p class="h1">70% OFF</p>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Ducimus, maxime.</p>
                            <span class="button">VIEW MORE</span>
                        </div>
                    </div>

                    <!--right col -->
                    <div class="col-6 free-shipping d-flex align-items-center">
                        <div class="info-promo text-white ms-5">
                            <p class="h1">Free Shipping</p>
                            <p class="mb-4">Lorem ipsum dolor sit amet consectetur <br> adipisicing elit. Ducimus, maxime.</p>
                            <span class="button">VIEW MORE</span>
                        </div>
                    </div>
            </div>
        </section>

        <!-- NEW ARRIVALS -->
        <section class="new-arrivals bg-white">

            <div class="container">
                <!-- title -->
                <div class="title text-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <span></span>
                        <h3>New Arrivals</h3><span></span>
                    </div>
                    <p class="text-muted">Brand new products from top designers</p>
                </div>
            </div>

            <!-- images -->
            <div class="container-fluid d-flex">
                <div class="img-container">
                    <img src="./img/spring_printed_dress-400x520.jpg" alt="">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-square-check"></i>
                    </span>
                </div>

                <div class="img-container">
                    <img src="./img/modern_love_tee-400x520.jpg" alt="">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-square-check"></i>
                    </span>
                </div>

                <div class="img-container">
                    <img src="./img/black_leather_jacket-400x520.jpg" alt="">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-square-check"></i>
                    </span>
                </div>

                <div class="img-container">
                    <img src="./img/black_elegant_leather_jacket-400x520.jpg" alt="">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-square-check"></i>
                    </span>
                </div>

                <div class="img-container">
                    <img src="./img/hipster_black_top-400x520.jpg" alt="">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-square-check"></i>
                    </span>
                </div>
            </div>
        </section>


        <!-- CIT -->
        <section class="cit d-flex justify-content-center align-items-center">
            <div class="details text-white text-center">
                <img src="./img/man_testimonial.png" alt="">
                <p class="my-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui laborum repellat eveniet eligendi voluptate obcaecati beatae voluptatem facilis officiis consectetur cumque eaque, deleniti repellendus asperiores omnis minus ab aliquid est!</p>
                <p> <span class="fw-semibold">Dario Pineda</span>, Theme Fusion</p>
                <span><i class="fa-solid fa-circle me-2"></i></span> 
                <span><i class="fa-regular fa-circle"></i></span>
        </section>

        <!-- BLOG -->
        <section class="blog">

            <div class="container">
                <!-- title -->
                <div class="title text-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <span></span>
                        <h3>From Our Blog</h3><span></span>
                    </div>
                    <p class="text-muted">The latest Classic Shop news</p>
                </div>
            </div>

            <!-- card -->
            <div class="container">
                <div class="row">

                    <div class="col-4">
                        <img src="./img/post_img_12-700x441.jpg" alt="">
                        <div class="text">
                            <p class="fw-bold mb-0">Lorem ipsum dolor, sit amet consectetur</p>
                            <p class="date text-muted">September 9th | 0 Comments</p>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>

                    <div class="col-4">
                        <img src="./img/post_img_11-700x441.jpg" alt="">
                        <div class="text">
                            <p class="fw-bold mb-0">Lorem ipsum dolor, sit amet consectetur</p>
                            <p class="date text-muted">September 9th | 0 Comments</p>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>

                    <div class="col-4">
                        <img src="./img/post_img_10-700x441.jpg" alt="">
                        <div class="text">
                            <p class="fw-bold mb-0">Lorem ipsum dolor, sit amet consectetur</p>
                            <p class="date text-muted">September 9th | 0 Comments</p>
                            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
        </section>

        <!-- SUMMARY -->
        <section class="summary">
            <div class="container">
                <div class="row">

                    <!-- featured -->
                    <div class="col-3">
                        <p>FEATURED</p>
                        <div class="box d-flex justify-content-between">
                            <div class="info">
                                <p>Black Jacket <span class="fw-bold">$125</span></p>
                            </div>
                            <img src="./img/black_leather_jacket-400x520.jpg" alt="" class="py-2">
                        </div>

                        <div class="box d-flex justify-content-between">
                            <div class="info">
                                <p class="mb-0">Black Leather Jacket</p>
                                <p class="mb-0">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </p>
                                <p class="fw-semibold">
                                    <span class="text-decoration-line-through me-1">$235</span>
                                     <span class="text-decoration-underline">$200</span>
                                </p>
                            </div>
                            <img src="./img/black_elegant_leather_jacket-400x520.jpg" alt="" class="py-2">
                        </div>

                        <div class="box d-flex justify-content-between">
                            <div class="info">
                                <p>Hipster Black Top <span class="fw-bold">$57</span></p>
                            </div>
                            <img src="./img/hipster_black_top-400x520.jpg" alt="" class="py-2">
                        </div>
                    </div>

                    <!-- on sale -->
                    <div class="col-3">
                        <p>ON SALE</p>
                        <div class="box d-flex justify-content-between">
                            <div class="info">
                                <p class="mb-0">Black Leather Jacket</p>
                                <p class="mb-0">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </p>
                                <p class="fw-semibold">
                                    <span class="text-decoration-line-through me-1">$235</span>
                                    <span class="text-decoration-underline">$200</span>
                                </p>
                            </div>
                            <img src="./img/black_elegant_leather_jacket-400x520.jpg" alt="" class="py-2">
                        </div>

                        <div class="box d-flex justify-content-between">
                            <div class="info">
                                <p class="mb-0">Blue Leather Jacket $125</p>
                                <p class="fw-semibold">
                                    <span class="text-decoration-line-through me-1">$80</span>
                                    <span class="text-decoration-underline">$60</span>
                                </p>
                            </div>
                            <img src="./img/blue_leather_jacket-400x520.jpg" alt="" class="py-2">
                        </div>

                        <div class="box d-flex justify-content-between">
                            <div class="info">
                                <p class="mb-0">Modern Leather Boots</p>
                                <p class="fw-semibold">
                                    <span class="text-decoration-line-through me-1">$50</span>
                                    <span class="text-decoration-underline">$30</span>
                                </p>
                            </div>
                            <img src="./img/modern_leather_boots-400x520.jpg" alt="" class="py-2">
                        </div>
                    </div>

                    <!-- top rated -->
                    <div class="col-3">
                        <p>TOP RATED</p>
                        <div class="box d-flex justify-content-between">
                            <div class="info">
                                <p class="mb-0">Leather Gloves</p>
                                <p class="mb-0">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </p>
                                <p class="fw-semibold">$45</p>
                            </div>
                            <img src="./img/leather_gloves-400x520.jpg" alt="" class="py-2">
                        </div>

                        <div class="box d-flex justify-content-between">
                            <div class="info">
                                <p class="mb-0">Black Leather Jacket</p>
                                <p class="mb-0">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </p>
                                <p class="fw-semibold">
                                    <span class="text-decoration-line-through me-1">$235</span>
                                    <span class="text-decoration-underline">$200</span>
                                </p>
                            </div>
                            <img src="./img/black_elegant_leather_jacket-400x520.jpg" alt="" class="py-2">
                        </div>

                        <div class="box d-flex justify-content-between">
                            <div class="info">
                                <p class="mb-0">Spring Printed Dress</p>
                                <p class="mb-0">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </p>
                                <p class="fw-semibold">$47</p>
                            </div>
                            <img src="./img/spring_printed_dress-400x520.jpg" alt="" class="py-2">
                        </div>
                    </div>

                    <!-- latest reviews -->
                    <div class="col-3">
                        <p>LATEST REVIWS</p>
                        <div class="box d-flex justify-content-between">
                            <div class="info">
                                <p class="mb-0">Black Leather Jacket</p>
                                <p class="mb-0">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </p>
                                <p>by admin</p>
                            </div>
                            <img src="./img/black_elegant_leather_jacket-400x520.jpg" alt="" class="py-2">
                        </div>

                        <div class="box d-flex justify-content-between">
                            <div class="info">
                                <p class="mb-0">Leather Gloves</p>
                                <p class="mb-0">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </p>
                                <p>by Beardman</p>
                            </div>
                            <img src="./img/leather_gloves-400x520.jpg" alt="" class="py-2">
                        </div>

                        <div class="box d-flex justify-content-between">
                            <div class="info">
                                <p class="mb-0">Spring Printed Dress</p>
                                <p class="mb-0">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </p>
                                <p>by admin</p>
                            </div>
                            <img src="./img/spring_printed_dress-400x520.jpg" alt="" class="py-2">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- BRANDS -->
        <section class="brands">
            <h4 class="text-center my-5 text-muted">BRANDS LOGOS</h4>
            <div class="container d-flex justify-content-between">
                <div class="img--container">
                    <img src="./img/b_logotype_6.png">
                </div>
                <div class="img--container">
                    <img src="./img/b_logotype_7.png" alt="">
                </div>
                <div class="img--container">
                    <img src="./img/b_logotype_1.png" alt="">
                </div>
                <div class="img--container">
                    <img src="./img/b_logotype_2.png" alt="">
                </div>
                <div class="img--container">
                    <img src="./img/b_logotype_3.png" alt="">
                </div>
            </div>
        </section>

        <!-- SUBSCRIBE -->
        <section class="subscribe ">
            <div class="container">
                <div class="row justify-content-between align-items-center text-white">
                    <div class="col-6 d-flex">
                       <div class="mail-box d-flex justify-content-center align-items-center">
                          <i class="fa-regular fa-envelope fs-3"></i>
                       </div>
                       <p class="mb-0">Subscribe now and get special offers</p>
                    </div>
                    <div class="col-5 d-flex justify-content-end">
                        <input type="email" placeholder="insert your email">
                        <span class="button-blue">SEND</span>
                    </div>
                </div>

                
            </div>
        </section>

        <!-- FOOTER -->
        <footer>
            <div class="container">
                <div class="row">

                    <!-- INFORMATION -->
                    <div class="information col-3">
                        <img :src="footer.logoImg" alt="">
                        <ul class="list-information ps-0 my-5">
                            <li v-for="info in footer.informations"
                                class="mb-2">
                                {{info}}
                            </li>
                        </ul>
                        <div class="icons">
                        <span>
                            <i class="fa-brands fa-facebook me-4"></i>
                            <i class="fa-brands fa-twitter me-4"></i>
                            <i class="fa-brands fa-instagram me-4"></i>
                            <i class="fa-brands fa-youtube me-4"></i>
                        </span>
                        </div>
                    </div>

                    <!-- TOP RATED PRODUCTS -->
                    <div class="col-3 footer-top-rated">
                        <p class="mb-5">TOP RATED</p>
                        <div class="box d-flex justify-content-between"
                            v-for="product in footer.topProducts">
                            <div class="info">
                                <p class="mb-0">{{product.type}}</p>
                                <p class="mb-0">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </p>
                                <p class="fw-semibold">
                                    <span class="text-decoration-line-through me-1"
                                    v-show="(product.discountedPrice == true)">
                                        $235
                                    </span>
                                    <span class="text-decoration-underline text-white">{{product.fullPrice}}</span>
                                </p>
                            </div> 
                            <img :src="product.img" alt="" class="py-2">
                        </div>

                    <!-- RECENT POSTS -->
                    </div>
                    <div class="col-3 footer-recent-posts">
                        <p class="mb-4 ms-4">RECENT POSTS</p>
                        <ul class="mt-4">
                            <li v-for="post in footer.recentPost"
                                class="py-3 list-post">
                                <i class="fa-solid fa-chevron-right"></i>{{ post }}
                            </li>
                        </ul>
                    </div>

                    <!-- TAGS -->
                    <div class="col-3 tags">
                        <p class="ms-4">TAGS</p>
                        <ul class="d-flex flex-wrap mt-5">
                            <li v-for="tag in footer.tags"
                                class="tag-container">
                                {{ tag }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <ul class="d-flex justify-content-center">
                    <li v-for="term in footer.copyright"
                        class="px-3">
                        {{ term }}
                    </li>
                </ul>
                <div class="payments text-center">
                    <img :src="footer.paymentImg" alt="">
                </div>
            </div>
        </footer>



    </div>

</body>

</html>